/* h1{
    height: 300px;
    width: 300px;
    border: 2px solid red;
    box-sizing: content-box;
    padding: 200px;
    font-variant:small-caps;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h2{
    height: 200px;
    width: 200px;
    padding: 100px;
    border: 2px solid blue;
    background-color: blanchedalmond;
}

h1{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    background-color: aqua;
}

section{
    border: 2px solid green;
    height:600px ;
    width:600px ;
    background-color: greenyellow;

}