/* unvisited link */
a:link{
    color: chartreuse;
}

/* visited link */
a:visited{
    color: rgb(189, 113, 13);
}

/* active link */
a:active{
    color: hotpink;
}

/* hover */
a:hover{
    color: aquamarine;
}


/* p{
    display: none;
} */

div:hover p{
    color:springgreen;
    background-color: cornsilk;
    display: block;
} 


/* input:focus{
    background-color: lightsalmon;
    color: crimson;
    font-size: 25px;
    text-transform: capitalize;
} */

section p:first-child{
    background-color: aqua;
}

section p:last-child{
    color: lime;
}

section p:nth-child(3)
{
    background-color: blue;
}

article p:only-child{
    background-color:darkmagenta ;
}

section{
    background-color: crimson;
    color: hotpink;
}